.container {
    display: flex;
    font-size: 30px;
    color: #fff;
    display: grid;
    grid-template-columns: 93vw;
    grid-template-rows: 350px 600px 400px 1fr;
    grid-template-areas: "hd""sd""main""ft";
}

.main_page_container {
    display: flex;
    justify-content: center;
    font-size: 30px;
    color: #fff;
    display: grid;
    grid-gap: 15px;
    grid-template-columns: 60vw, 60vw;
    grid-template-rows:200px;
    grid-template-areas: 
    "h"
    "b1"
    "b2"
    "b3"
    "b4"
    "f";
}

body {
    background: rgb(234, 206, 254);
    background: linear-gradient(90deg, rgba(234, 206, 254.8763343960631127) 0%, rgba(28, 154, 0, 1) 0%, rgba(163, 67, 192, 1) 100%);
}

.header {
    border: 5px solid rgb(194, 0, 0);
}

.post_picture {
    border: 5px solid blue;
    background-image: url('images/ocean.jpg');
    background-size: cover;
}

.post_content {
    font-size:20px;
    border: 5px solid green;
}

.footer {
    contain: content;
    border: 5px solid orangered;
}
.main_header{
    align-items: center;
    justify-content: center;
    border: 5px solid orangered;
}
.post_box {
    contain: content;
    border: 5px solid rgb(67, 40, 185);
    
    
}
.main_footer {
    contain: content;
    border: 5px solid rgb(173, 40, 185);
}
#head{
    grid-area: h;
    border: 5px solid orangered;
}

#post_1{
    grid-area: b1;
    border: 5px solid orangered;
}
#post_2{
    grid-area: b2;
    border: 5px solid orangered;
}
#post_3{
        grid-area: b3;
        border: 5px solid orangered;
    }
#post_4{
        grid-area: b4;
        border: 5px solid orangered;
}

#foot {
    grid-area: f;
    border: 5px solid orangered;
}
#box_one {
    contain: content;
    grid-area: hd;
}

#box_two {
    contain: content;
    grid-area: sd;
}

#box_three {
    contain: content;
    grid-area: main;
}

#box_four {
    contain: content;
    grid-area: ft;
}


h1 {
    padding: 3px 0;
    text-align: center;
    contain: content;
    font-size:50px;
}

h2 {
    text-align: left;
    font-size: 30px;
    margin: 0px;
    
}

h3 {
    text-align:left;
    contain: content;
    font-size: 20px;
    margin: 0px;
    padding: 3px;
}

h4 {
    text-align: left;
    contain: content;
    font-size: 20px;
    margin: 0px;
    padding: 0px;
}
h5 {
    
    contain: center;
    contain: content;
    font-size: 20px;
    margin: 0px;
    padding: 0px;
}
h6 {
    contain: center;
    contain:content;
    font-size: 20px;
    margin: 0px;
    padding: 0px;
}
a{
    color: yellow;
    font-size: 20px;
}


button {
    background-color: #3639e2;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    
}
.readMoreButton {
    background-color: Transparent;
    border: none;
    color: rgb(0, 0, 0);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    text-decoration: underline;
    margin: 10px;
    
}
.subscribe {
}
@media only screen and (min-width:992px) {
    .container {
        display:grid;
        grid-template-columns: 300px 300px 300px;
        grid-template-rows: 350px 600px;
        grid-template-areas: 
        "hd hd hd hd hd hd hd hd"
        "sd sd sd main main main main main"
        "ft ft ft ft ft ft ft ft";
    }
    }
@media only screen and (min-width:600px) {
    .container {
        display:grid;
        grid-template-columns: 300px 300px 300px;
        grid-template-rows: 350px 400px;
        grid-template-areas: 
        "hd hd hd hd hd hd hd hd"
        "sd sd main main main main main main"
        "ft ft ft ft ft ft ft ft";
    }
    }
@media only screen and (min-width:900px) {
    .main_page_container {
        font-size: 30px;
        color: #fff;
        display: grid;
        grid-gap: 20px;
        grid-template-columns: 50vw, 50vw;
        grid-template-rows:200px;
        grid-template-areas: 
        "h h"
        "b1 b2"
        "b3 b4"
        "f f";
        }
    }
    @media only screen and (min-width:600px) {
        .main_page_container {
            font-size: 30px;
            color: #fff;
            display: grid;
            grid-gap: 20px;
            grid-template-columns: 50vw, 50vw;
            grid-template-rows:200px;
            grid-template-areas: 
            "h h"
            "b1 b2"
            "b3 b4"
            "f f";
            }
        }
figure {
        padding: 4px;
        margin: auto;
}
figcaption {
        background-color: Transparent;
        color: white;
        font-style: italic;

        padding: 2px;
        text-align: center;
}
.rabbit_pic{
    width: 360px;
}
footer {
    align: center;
    text-align: center;
    background-color:transparent;
    font-size: 20px;
    color: rgb(0, 0, 0);
  }
ul{    
    width: 150px;
    float: left;
    display: inline;
    margin: 0;
    padding: 0;
    margin-right: 0px;
    font-size: 30px;
}
.fa {
    padding: 10px;
    font-size: 20px;
    width: 10px;
    text-align: center;
    text-decoration: none;
  }
  
  /* Add a hover effect if you want */
  .fa:hover {
    opacity: 0.7;
  }
  
  /* Set a specific color for each brand */
  
  /* Facebook */
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  /* Twitter */
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  .fa-instagram {
    background: #3B5998;
    color: white;
  }
  
  /* Twitter */
  .fa-linkedin {
    background: #55ACEE;
    color: white;
  }
  .fa {
    padding: 10px;
    font-size: 20px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
   
  }