.container {
    font-size: 30px;
    color: #fff;
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 250px 600px;
    grid-template-areas: "hd hd hd hd hd hd hd hd" "sd sd sd main main main main main""ft ft ft ft ft ft ft ft";
}

body {
    background-color: rgb(0, 0, 0);
}

.header {
    border: 5px solid rgb(194, 0, 0);
}

.main {
    border: 5px solid blue;
}

.sidebar {
    border: 5px solid green;
}

.footer {
    border: 5px solid orangered;
}

#one {
    /* note many solutions are acceptable here */
    grid-area: hd;
}

#two {
    /* note many solutions are acceptable here */
    grid-area: sd;
}

#three {
    /* note many solutions are acceptable here */
    grid-area: main;
}

#four {
    /* note many solutions are acceptable here */
    grid-area: ft
}