.container {
    /*container for mobile screen*/
    font-size: 30px;
    color: #fff;
    display: grid;
    grid-template-columns: 93vw;
    grid-template-rows: 250px 600px 400px 1fr;
    grid-template-areas: "hd""sd""main""ft";
}

.main_page_container {
    display: grid;
    width: 900px;
    height: 900px;
    margin: auto;
    grid-template-rows: minmax(300px, 500px);
    grid-template-columns: repeat(3, 1fr);
    /*grid gap:1px*/
    justify-content: center;
    border: 5px solid rgb(0, 0, 0)/*grid-template-areas:"hd" "hd" "hd" "b" "b" "b" "ftft" "ft";*/
}

body {
    background: rgb(234, 206, 254);
    background: linear-gradient(90deg, rgba(234, 206, 254.8763343960631127) 0%, rgba(28, 154, 0, 1) 0%, rgba(163, 67, 192, 1) 100%);
}

.header {
    border: 5px solid rgb(194, 0, 0);
}

.main {
    border: 5px solid blue;
    background-image: url('ocean.jpg');
    background-size: cover;
}

.sidebar {
    border: 5px solid green;
}

.footer {
    border: 5px solid orangered;
}

.post_box {
    border: 5px solid green;
}

#one {
    grid-area: hd;
}

#two {
    grid-area: sd;
}

#three {
    grid-area: main;
}

#four {
    grid-area: ft;
}

#post_1 {
    border: 5px solid orangered;
    grid-area: b;
}

h1 {
    text-align: left;
    contain: content;
    font-size: 40px;
    margin: 0px;
    padding: 5px;
}

h2 {
    text-align: left;
    contain: content;
    font-size: 30px;
    margin: 0px;
    padding: 5px;
}

h3 {
    text-align: center;
    contain: content;
}

h4 {
    text-align: left;
    margin: 2px;
    padding: 5px;
    font-style: italic;
    font-size: 20px;
    contain: content;
}

button {
    background-color: #3639e2;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
}

@media only screen and (min-width:900px) {
    .container {
        font-size: 30px;
        color: #fff;
        display: grid;
        grid-template-columns: 10vw 30vw;
        grid-template-rows: 200px 600px 1fr;
        grid-template-areas: "hd hd hd hd hd hd hd hd" "sd sd main main main main main""ft ft ft ft ft ft ft";
    }
}